<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title> registro Contacto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>idUsuario</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>NombreContacto</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>NumeroContacto</mat-label>
            <span matPrefix>+51 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" />
          </mat-form-field>
        </form>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>NotaContacto</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">
las americas...?</textarea
            >
          </mat-form-field>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="button_widht" mat-raised-button color="primary">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>

