<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title> registro Actividad</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>idUsuario</mat-label>
                <input matInput   formControlName="idUsuario" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Titulo</mat-label>
            <textarea matInput   formControlName="Titulo" placeholder="descripcion de actividad"></textarea>
          </mat-form-field>
        </p>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>fecha</mat-label>
                <input
                  matInput
                  formControlName="FechaProgramada"
                  #fechaCode
                  maxlength="10"
                  placeholder="01-01-2020"
                />
                <mat-hint align="end"
                  >{{ fechaCode.value.length }} / 10</mat-hint
                >
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>horaProgramada</mat-label>
                <input
                  matInput
                  formControlName="Hour"
                  #fechaCode
                  maxlength="10"
                  placeholder="hora"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="button_widht" mat-raised-button color="primary">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
